[2018-10-09 16:18] SpheMakh opened #4 "plotting visibilities"
The standard plots are:
- Amp vs Antenna
- Amp vs Scan
- Amp vs Frequency (average in time)
- Phase vs Frequency
- Amp vs Phase
- Real vs Imaginary
- Amp vs uvdist ( both in metres and wavelengths)
- Phase vs uvdist ( both in metres and wavelengths)

Average over these axes:
- Time
- Frequency
- baseline

Iterate over these axes:
- scan
- spectral window
- correlation

[2018-10-24 09:03] SpheMakh opened #9 "Use frequency instead of channel for x-axis in bandpass plots"
Can you switch the axis to frequency for bandpass plots, or add it as an extra axis on the top.

[2018-10-24 10:19] o-smirnov opened #10 "option to have single HTML file with all plots in it"
As suggested by @SpheMakh here: https://github.com/ska-sa/meerkathi/issues/316

[2018-10-26 15:38] #9 closed, assigned to Mulan-94

[2018-11-20 10:30] o-smirnov opened #11 "need bandpass/leakage plots (B-Jones or D-Jones)"
Here's an example:

![leakage-x-new](https://user-images.githubusercontent.com/6470079/48767756-15e4eb00-ecc0-11e8-8766-4181f3de86e5.png)

![leakage-c-new](https://user-images.githubusercontent.com/6470079/48767758-167d8180-ecc0-11e8-975a-3ab8d56a46f7.png)

[2019-02-18 09:33] Mulan-94 opened #15 "DQA products"
ska-sa/meerkathi#310

[2019-02-18 19:43] bennahugo opened #16 "Upstream breakage in matplotlib"
@sphemakh note
[code]

[2019-02-25 08:57] #10 closed, assigned to nobody

[2019-03-07 09:43] Mulan-94 opened #19 "Datashader for Big data"
[Datashader](http://datashader.org/index.html)
[Large datasets](http://pyviz.org/tutorial/10_Working_with_Large_Datasets.html)

[2019-03-07 09:45] o-smirnov opened #20 "develop density plots"
When making plots from millions of visibility points (if averaging is not in use, for example), we might want to consider density plots instead.

For example, instead of making a plot of 10 million individual points on an UVdistance-Amplitude axis, you could make a UVdistance-Amplitude image, where each pixel is a counter of how many points fell into that bin.  Essentially a 2D historgram.

[2019-04-02 10:39] Mulan-94 opened #22 "Classification by Colorisation"
Colorise data in datashader by:
- Baseline
- Antenna
- Scan

Use `matplotlib` colourmaps for distinct colour changes

[2019-04-26 11:45] o-smirnov opened #23 "visibilities.py fails without printing error message"
With a non-default data column, it fails silently:

[code]

Although the log reveals an xarrayms error (tagging @sjperkins):

[code]

Whatever the error is, we need to print it to the console and not fail silently.

[2019-04-26 11:47] o-smirnov opened #24 "specifying non-default datacolumn doesn't work"
See #23 for error report. @sjperkins might help.

The error does not arise if I use ``--datacolumn DATA``.

[2019-04-26 11:57] o-smirnov opened #25 "need subset selection in visibilities.py"
We need to be able to select subsets of data to plot. In particular:

* FIELD (this you already have)

* DATA_DESC_ID

* SCAN_NUMBER

* arbitrary TaQL query (the above three map to TaQL queries anyway)

* subset (slice) of channels

* subset (slice) of correlations

It would be helpful (and consistent) to just pick up the CubiCal syntax for specifying slices or lists, see its doc below:

[code]

T

[2019-04-26 12:01] Mulan-94 commented on #23
@o-smirnov Ok, so you mean log to both the console and the log file?

[2019-04-26 12:21] o-smirnov commented on #23
Yep, I think you should dump the exception traceback to both.

How much detail goes to the console as opposed to the log is something of a matter of taste, but silent failures are a definite no-no.

[2019-04-26 12:46] sjperkins commented on #25
FIELD_ID, DATA_DESC_ID and SCAN_NUMBER can currently be specified as grouping columns in xds_from_ms

TAQL Queries are on the TODO list https://github.com/ska-sa/xarray-ms/issues/10

[2019-04-26 13:07] sjperkins commented on #24
I've logged this as https://github.com/ska-sa/xarray-ms/issues/22, which also contains a work-around.

[2019-04-26 15:26] Mulan-94 commented on #23
@o-smirnov, the error due to data column name should be gone now

[2019-04-26 15:32] o-smirnov commented on #24
OK seems to work now!

[2019-04-26 15:32] #24 closed

[2019-04-26 16:00] Mulan-94 commented on #25
@sjperkins noted, @o-smirnov should all the data_desc_ids be plotted by default unless specified?

[2019-04-26 16:05] o-smirnov commented on #25
I would say yes.

[2019-04-26 17:03] o-smirnov opened #26 "FLAG seemingly not being honoured"
Using the command from #23, I eventually get this plot:

![image](https://user-images.githubusercontent.com/6470079/56823787-23953280-6855-11e9-9f53-08e830127d79.png)

Those extremely high amplitudes are from RFI, but this is all flagged in the MS:

[code]

Flagged values should not be showing up in the plot.

[2019-04-29 00:36] Mulan-94 commented on #26
I think this is fixed now, do check

[2019-04-29 08:46] Mulan-94 commented on #25
This has been partially implemented for the SCAN_NUMBER and DATA_DESC_ID now

[2019-06-21 11:03] Mulan-94 opened #27 "Plot both correlations for gain tables"
Make them switchable on the plot.

[2019-06-21 11:04] Mulan-94 commented on #27
ping @KshitijT

[2019-06-21 12:38] KshitijT opened #28 "Denote different fields with different markers"
Currently Ragavi produces **per field** plots for gaintables having multiple fields.In cases like the gain calibration and fluxscale gain tables, it is much better to have multiple fields in the same plot to examine if  the calibration process has gone through.
Can we add this capability to the Ragavi?

[2019-07-03 11:49] o-smirnov opened #30 "optionally plot flagged data using different symbol (or color)"
Getting a plot like this in the MeerKATHI output:

![image](https://user-images.githubusercontent.com/6470079/60589172-218da980-9d99-11e9-908a-e9a0c5aefc2f.png)

However, chunks of the band are definitely flagged, so we would expect to see corresponding gaps in the bandpass plot. @Mulan-94 could you please check if you're plotting flagged data here?

[2019-07-03 11:52] o-smirnov commented on #30
Ah hang on there are no flags in the table it seems...

[2019-07-03 11:56] Mulan-94 commented on #30
ok @o-smirnov . Just a hint also, you can switch off all the legends to get a slightly bigger plot by clicking on the showing legends drop down menu and selecting none.

[2019-07-04 08:16] o-smirnov commented on #30
Yeah our bad. I don't think they're properly flagged in this case.

In any case, I have a feature request: can we plot flagged data (in a different colour), and have a checkbox for whether to plot it or not?

[2019-07-04 08:44] o-smirnov opened #31 "Rearrange selector panel, legend and tweak font sizes"
The plotter is awesome, but I can't help feeling we could use the real estate better. This is what it looks like on a low-res screen:

![image](https://user-images.githubusercontent.com/6470079/60652243-28272a00-9e48-11e9-8065-989d6e544029.png)

This is what it looks like on a hi-res screen:
![image](https://user-images.githubusercontent.com/6470079/60651477-94089300-9e46-11e9-884c-cb504f156c0d.pn

[2019-07-04 09:09] Mulan-94 commented on #31
@o-smirnov yes that can be done, but also, you could hide the legends altogether by clicking on that **showing legends** dropdown and selecting `none`, for now. I will decrease the font sizes and move the selectors.

[2019-07-04 09:32] Mulan-94 commented on #28
@KshitijT this feature is ready now, but the scatters will have a line thickness of colour black depending on the field id. i.e. scatters for field 0 will not have any lines, field 1 with thickness 1 and so on. Is this acceptable?

[2019-07-04 09:35] KshitijT commented on #28
@Mulan-94 , could you please post a plot?

[2019-07-04 09:38] Mulan-94 commented on #28
![image](https://user-images.githubusercontent.com/12611059/60656693-2feacc80-9e50-11e9-8958-6ea0c7795a4f.png)

[2019-07-04 09:40] KshitijT commented on #28
Awesome ! If it is not going to be too much to add, could we also have field selectors ?

[2019-07-04 09:40] o-smirnov commented on #28
How about different symbols (circles, squares, triangles, etc.) for different fields?

[2019-07-04 13:54] o-smirnov commented on #30
OK, the error was elsewhere (see https://github.com/ska-sa/meerkathi/issues/523), but since this has turned into a feature request, I'm renaming the issue and leaving it open.

Flagged data needs to look different. Since colour is already reserved for antennas, and given the request in #28, one idea would be:

* different shapes for different fields (circles, squares, triangles)

* black outline (

[2019-07-04 14:08] o-smirnov opened #32 "Add glyph alpha selector"
I'm finding the current symbols a little big for the 64-antenna case:

![image](https://user-images.githubusercontent.com/6470079/60672039-bdd8ae80-9e74-11e9-9500-217b7d8e98a5.png)

The blue end is completely covered by the red end. Perhaps it would help if the symbols were smaller and/or more transparent.

Optimal settings may depend on the number of antennas plotted. And it's hard to know withou

[2019-07-04 18:08] Mulan-94 commented on #32
There is already a size selector currently, I will do one for transparency as well.

[2019-07-05 09:15] o-smirnov commented on #32
There is a size selector already? Help, I'm too old and blind to find it...

[2019-07-09 10:20] o-smirnov commented on #31
OK looking much better. Suggested fixes:

* add field marker to field label (so that we can tell which field is which). Lookup HTML entitites for appropriate Unicode characters (circles, diamonds, etc.) and add them to the text of the field selectors

* Plot title -- smaller font

* "Time [s]" to "Time bin" (in axis labels and in titles)

* Lay controls across (side by side, rather than stacked, a

[2019-07-11 08:22] Mulan-94 commented on #31
Sample output incorporating suggested changes:
![image](https://user-images.githubusercontent.com/12611059/61002122-32be5380-a361-11e9-9e54-293fcd1a8f71.png)

- Plots will scale automatically

[2019-07-11 08:29] o-smirnov commented on #31
Oh yes, really looking slick!

Is it just me, or do the two field labels next to the checkboxes have slightly different font sizes?

[2019-07-11 08:44] Mulan-94 commented on #31
Same size, it's the markup symbol causing the illusion. Fixing it

[2019-07-11 08:59] o-smirnov commented on #31
Also, typo in the "Glyph alpha" label.

[2019-07-11 14:55] SpheMakh commented on #31
Great! Can we make a new release with these changes

[2019-07-12 09:38] #28 closed

[2019-07-12 09:38] #31 closed

[2019-07-12 09:38] #32 closed

[2019-07-12 16:02] SpheMakh opened #35 "UnicodeEncodeError"
I get this error when running ragavi 0.0.7 on python 2.7

[code]

[2019-07-12 16:46] Mulan-94 commented on #35
This could be is because of utf-8  specific characters in `ragavi` (for the field symbols).
Testing it from my end.

[2019-07-12 16:58] o-smirnov commented on #35
Funny how I've never heard of this problem before last week, and now everyone's getting it, like a bad case of rash. I guess it's here:
[code]
I think the "{}" conversion is trying to convert your unicode string into an ``str``, which invokes ``unicode.encode("ascii")`` under the hood. Try ``u"\u00b0".encode("utf-8")``?

[2019-07-12 18:18] Mulan-94 commented on #35
Oh yeah. Fixed it now. I do note however, that if `encode` is invoked for `python3` one ends up with hex characters on a string.

[2019-07-13 09:50] #35 closed

[2019-07-15 08:41] SpheMakh commented on #35
The fix works. Can we make another release

[2019-07-15 14:37] o-smirnov opened #37 "IndexError: list index out of range with 1.1.3"
Trying this out in MeerKATHI, but I get:

[code]

[2019-07-15 17:49] Mulan-94 commented on #37
@o-smirnov , I think this is now fixed.

[2019-07-15 18:16] #11 closed

[2019-07-15 18:16] #30 closed

[2019-07-15 18:16] #37 closed

[2019-07-15 18:33] SpheMakh commented on #37
I can confirm that the fix works.

[2019-07-16 10:24] Mulan-94 opened #39 "Interface issues"
- Flagging callback malfunctioning
- Glyph selector  malfunctioning for multiple batches
- Add an outline to the flags
- Check on the error bars

[2019-07-19 14:45] Mulan-94 commented on #39
@o-smirnov @SpheMakh is it acceptable to indicate the flagged data with only a different marker?
Outlining only the flagged data is turning out to be a bit tricky because the glyphs share some common properties meaning that the only way to outline would be to outline the entire antenna in which flags are applied.
The flagged data will be indicated by triangles like below
![image](https://user-imag

[2019-08-05 21:41] KshitijT commented on #27
This is done and in the current version, @Mulan-94 ?

[2019-08-06 07:19] Mulan-94 commented on #27
Unfortunately not yet @KshitijT

[2019-08-27 10:17] Mulan-94 opened #41 "Excessvie time spent on calculatingmin n max ranges for large datasets"
@sjperkins , is there anyway to make this faster?
For a large dataset it seems dask takes too long to calculate the min and max values This is done in https://github.com/ratt-ru/ragavi/blob/0a5349ac571bc23f3034ac3e2c929d6d07e6da02/ragavi/visibilities.py#L540 . Please help

[2019-08-27 11:03] sjperkins commented on #41
Does this improve things? It calls the reduction on the dask array instead of the xarray array. I wonder if the xarray function converts things to numpy arrays in the background.

[code]

[2019-08-27 11:12] Mulan-94 commented on #41
@sjperkins I tried that and it did not seem to make things better. I then separated them to find out where it was taking more time only to find out that calculating the y min and max is taking up the most time. I suspect could be because computations have to be done(like calulating phase or absolue value) to get those values but I am not sure ...
The dataset is also quite large: ~2TB

[2019-08-27 11:21] sjperkins commented on #41
This line will result in the calculation of the x graph twice:

https://github.com/ratt-ru/ragavi/blob/0a5349ac571bc23f3034ac3e2c929d6d07e6da02/ragavi/visibilities.py#L528

Generally its better if you compute everything at once as a single graph will be created and computed values will be re-used. Therefore things like disk reads, phase and absolute computations will only happen once:

[code]

Wha

[2019-08-28 09:03] Mulan-94 commented on #41
It takes 0.0566 seconds to do this

[2019-08-28 09:14] sjperkins commented on #41
By contrast, how long does the compute take?

[2019-08-28 15:16] Mulan-94 commented on #41
about 25 minutes

[2019-08-30 13:33] sjperkins commented on #41
Could you please provide an example command line argument that produces this error?

[2019-10-30 13:04] SpheMakh opened #42 "Not able to plot multiple fields"
[code]

Zoom in on the error

[code]

[2019-10-30 13:14] SpheMakh commented on #42
My mistake. I gave a comma-separated string instead of a space-separated one

[2019-10-30 13:14] #42 closed

[2019-10-30 13:24] Mulan-94 commented on #42
Is it working with this though?

[2019-10-30 13:25] SpheMakh commented on #42
yep!

[2019-11-03 21:43] #26 closed

[2019-11-04 23:30] IanHeywood commented on #25
I'm getting the following when I try to select a scan plot using `ragavi-vis`, using either the `scan` parameter or a direct `taql`:

[code]

[code]

[2019-11-05 07:42] Mulan-94 commented on #25
Hi @IanHeywood yes this was a bug in `dask-ms` that was recently resolved. I also note that you're using `Python2`. I suggest to create a `Python3` environment and reinstall `ragavi` and its requirements there, it should solve this problem.

[2019-11-05 11:09] IanHeywood commented on #25
Thanks Lexy. I was testing this functionality as I was having trouble getting xarray-ms to respect taql queries in my own code, but the fact that I'm on python 2.7 and not using dask-ms suggests that I'm the problem here.

Cheers.

[2019-11-05 11:23] Mulan-94 commented on #25
@IanHeywood `xarray-ms` changed name to `dask-ms` and supports only `Python3` now I think.

[2019-11-05 11:34] IanHeywood commented on #25
Yes, I just found this out the slow and frustrating way! :)

[2019-11-20 10:23] o-smirnov commented on #27
So are both correlations plotted with the same symbol at the moment, or just the first one is plotted?

[2019-11-20 10:24] o-smirnov opened #45 "Plot delays as a function of time"
For K solutions, since we often solve for K over time, it would be useful to have a plot where X is the time axis (i.e. exactly as is done for G now).

[2019-11-20 10:32] Mulan-94 commented on #27
@o-smirnov yes both are plotted with the same symbols

[2019-11-20 10:33] Mulan-94 commented on #45
@o-smirnov Noted. Will be in the next release

[2019-11-25 12:04] o-smirnov opened #46 "Incorrect time axis in plot containing multiple fields"
I'm seeing something like this:

![image](https://user-images.githubusercontent.com/6470079/69538943-1c213d80-0f8c-11ea-8e1e-0a595c63e9d1.png)

This is incorrect, because I know that the first scan of field 2 (the squiggly lines) was actually midway through the observation and not at the start. So it just looks to me like all the scans of field 2 were shifted left, to make its starting time 0.

I

[2019-11-25 12:11] Mulan-94 commented on #46
Yes you are right. Thanks for pointing this out. It will be fixed

[2019-11-26 09:52] #45 closed

[2019-11-26 09:52] #46 closed

[2019-11-26 09:55] o-smirnov commented on #45
Cool!

But wait, we still want the old behaviour too (delay-versus-antenna....) Both types of plots. Can we make this selectable? (Command line or GUI?)

[2019-11-26 10:01] Mulan-94 commented on #45
It can be easily made possible over the command line... Maybe a bit tricky over GUI but I can still try

[2019-11-26 12:37] Mulan-94 commented on #45
Implemented on command line under #48 . Use the argument `-kx` of `--k-xaxis` to select antenna or time. Default will be antenna

[2019-12-09 13:56] IanHeywood commented on #27
What I cannot get to work with the HTML interface is plotting a single correlation for a single antenna. Selecting a single antenna seems to load both correlations by default (irrespective of the correlation selection checkboxes), and adjusting the checkboxes deselects the antenna.

[2019-12-09 16:17] Mulan-94 commented on #27
Hi @IanHeywood, If I understand the issue correctly, I think a possible work-around for this is deselecting all the antennas first, then selecting the correlation you want and then selecting that antenna from the legends.

[2020-01-06 12:02] IanHeywood commented on #27
@Mulan-94 that works, thanks!

[2020-01-07 12:04] IanHeywood opened #49 "Unable to plot multiple DDIDs (SPWs)"
The help says:

[code]

but the default behaviour only plots SPW 0.

The `--ddid` switch also only seems to accept a single integer, so I cannot figure out how to plot multiple SPWs on a single plot.

[2020-01-07 12:07] IanHeywood commented on #49
Sorry, this `ragavi-gains` by the way.

[2020-01-07 12:14] IanHeywood opened #50 "Field / corr plot selection is buggy?"
![ragavi_selection_issue](https://user-images.githubusercontent.com/6533799/71894710-ebb1ef00-3146-11ea-90bf-0fc4d1c39902.png)

Above I have selected just the primary (Field 0), however points persist for scans of the secondary (Field 2) for antenna m001. If I deselect Correlation 1 then these points disappear (along with the corresponding Corr 1 points from Field 0).

[2020-01-07 13:58] Mulan-94 commented on #49
@IanHeywood Thanks for this report, I am having a look

[2020-01-09 12:00] IanHeywood commented on #50
Another part of this issue is that both fields seem to be plotted relative to their own field-specific initial time slot rather than the first timeslot in the gain table. As such the relative positions of the calibrator scans in time is not visible.

[2020-02-03 12:10] Mulan-94 commented on #50
@IanHeywood Thanks for this report, I apologise it has taken quite some time to correct but I will make a release soon containing the fix. Meanwhile, before the release, branch fixes contains a version of `ragavi-gains` that should be working properly in this aspect. Please have a go at it when you have time and let me know in case of anything.

[2020-02-03 12:13] Mulan-94 commented on #50
@o-smirnov @SpheMakh , I am moving the median stats from the plot title to a table below the plot because of the case of multiple spectral windows, it becomes to crowded. Current layout is looking like so:
![image](https://user-images.githubusercontent.com/12611059/73652269-96aabf80-4697-11ea-94a4-5ee4cefb729c.png)

I hope this is ok

[2020-02-03 14:03] o-smirnov commented on #50
Yeah good idea!

We need to have a redesign session during busy week... I have some suggestions for antenna controls etc.

[2020-02-03 14:56] bennahugo commented on #50
One minor thing that should be changed is to plot the x-axis in UTC.  I've
noticed this in a recent ticket filed on JIRA by @o-smirnov.

The relevant function call is implemented using casacore quantas, where
time is TIME or TIME_CENTROID:
[code]

On Mon, Feb 3, 2020 at 4:03 PM Oleg Smirnov <notifications@github.com>
wrote:

--
--
Benjamin Hugo

PhD. student,
Centre for Radio Astronomy Techniques

[2020-02-03 15:06] Mulan-94 commented on #50
Thanks @bennahugo ! I will implement this ASAP.

[2020-02-15 13:26] Mulan-94 opened #51 "Redesigning `ragavi` interface"
**To Improve**
- [ ] Show a single batch of antennas by default
- [ ] Fix plot sizes to make them and all other info fit in screen
- [ ] Use actual correlation names rather than indices
- [ ] Use field and corr names in the stats table
- [ ] Remove redundant legend and move other legend to the top of the plots
- [ ] Change show error button to ~checkbox~
- [ ] Re-order widgets and have batch selec

[2020-02-15 13:28] Mulan-94 commented on #51
@o-smirnov here is what we discussed. I hope I didn't miss anything ...

[2020-02-26 18:30] Mulan-94 commented on #51
No polarization information not contained in gain tables

[2020-03-02 20:24] Mulan-94 commented on #51
Selections in multiple regions can be achieved by holding the shift button and selecting different regions. See [this](https://docs.bokeh.org/en/latest/docs/reference/models/tools.html?highlight=lasso#bokeh.models.tools.Gesture).

[2020-03-11 08:34] Mulan-94 opened #55 "Ragavi-vis Memory management"
Looking into `ragavi-vis` memory usage with large datasets

[2020-03-11 19:47] Mulan-94 commented on #55
![test_memprof](https://user-images.githubusercontent.com/12611059/76457677-e50f5480-63e1-11ea-943d-45e99a42f9cf.png)
Current memory profile

[2020-03-17 12:42] JSKenyon commented on #55
OK, this is a visualization of xy_df for an MS I have lying around.

[rag.pdf](https://github.com/ratt-ru/ragavi/files/4343446/rag.pdf)

I haven't dug much deeper but this doesn't look correct to me. The number of rechunk/split/merge operations seems very high, and there is a large amount of communication between chunks (to my eyes).

Rechunking happens in memory I believe, which might explain why

[2020-03-17 12:45] o-smirnov commented on #55
Geez, for a second there I thought I was looking at the DNA sequence for covid-19...

[2020-03-17 12:50] Mulan-94 commented on #55
Lol

@JSKenyon Yes, I've seen this. Do you have some suggestion on what I should change? I think I may have to rework quite a few things ...

[2020-03-17 12:52] JSKenyon commented on #55
I think that things like:
[code]
are to blame. Could you try to explain to me what you are doing and why it needs to be done?

[2020-03-17 13:25] Mulan-94 commented on #55
I have split the x and y data. These are both `xarray DataArray`s. So I merge them to form a single `xarray Dataset` (hence the merge), and then convert these to a `dask` dataframe.

[2020-03-17 13:33] JSKenyon commented on #55
So something that I find strange - `xy_df.Time.compute()` destroys my memory. Sure, it is 300000000 entries, but even so that shouldn't be more than ~5GB. Instead it uses over 20.

Similarly, prior to the `to_dask_dataframe` call, calling compute on `xy` completely reasonable. After the call, it becomes the memory hogging monstrosity that is causing you trouble. I will try dig a little further tom

[2020-03-24 12:20] Mulan-94 commented on #55
**Timer unit:** 1e-06 s

**Total time:** 23.435 s
[code]
@sjperkins  here is a time profile of my averaging function. From this, 78% of the time seems to be spent around line 586. I commented out the coordinate loop.

[2020-03-24 13:42] sjperkins commented on #55
@Mulan-94 The DataArray call certainly seems expensive, but the profile doesn't provide enough information about what's happening internally to cause the slowdown.

This profile shows the time taken in one function. I'd recommend a profiling than displays the time taken for all functions in the application and displays them from slowest to fastest.

[2020-03-26 11:43] Mulan-94 commented on #55
[code]
@sjperkins Ok, here is the profile of the first 80 ordered by time. Is this better?

[2020-03-26 13:46] sjperkins commented on #55
Hmmmm, looks like a lot of time is spent trrying to acquire a threading.Lock.

Before going down that path, which version of xarray are you running? It looks like there was an issue https://github.com/pydata/xarray/issues/2867 that may be resolved in more recent versions of xarray. I think first check that your version of xarray is up to date.

[2020-03-26 14:13] sjperkins commented on #55
I don't see anything particularly slow about creating an ``xarray.DataArray`` from a daskms-backed``dask.array.Array``.

[code]

[2020-03-26 14:15] JSKenyon commented on #55
I may be mistaken but I believe anything run with the multithreaded
scheduler is wrapped in one of those threading locks. So it doesn't provide
much real information. Unless you are running under the single-threaded
scheduler? If not, I recommend if for doing this sort of profiling. The
threading layer makes it very difficult to interpret the results. The one
that is a head scratcher for me is the

[2020-03-26 14:38] sjperkins commented on #55
This is a good point. @Mulan-94 you probably need to re-profile with the single-threaded scheduler. I would also separate profiling of graph creation and execution of the graph (compute calls).

While I should probably withhold comment until I've seen profiling with the single-threaded scheduler, I think that fits with the first profile https://github.com/ratt-ru/ragavi/issues/55#issuecomment-6032

[2020-03-26 21:08] Mulan-94 commented on #55
Running on:
**xarray 0.15.1
dask  2.12.0**

Single-threaded scheduler
[code]

[2020-03-27 09:33] sjperkins commented on #55
<details> <summary> Lexy's profiling data, sorted with 'sort -n -r -k 4 rag.txt' by cumtime </summary>

[code]

</details>

Here is a subset of the dask-ms related material:

[code]

Briefly, I interpret this to mean that 6.7s is spent wait for data to be read from disk which is going to be dependent on the size of the dataset, but I would hazard that this is probably appropriate. Where the other

[2020-03-27 10:01] Mulan-94 commented on #55
Yes, this is sorted by totttime, from the profile, the bigger times appear in cumulative time

[2020-03-27 10:08] sjperkins commented on #55
The cumulative ~20 seconds spent in getattr looks suspicious. Perhaps dask arrays are being computed unnecessarily?

[code]

[2020-03-27 10:23] Mulan-94 commented on #55
To be honest, I don't really understand what is going on

[2020-03-27 10:35] sjperkins commented on #55
Are there any `getattr` statements in your code? Could you please link to them here?

[2020-03-27 10:59] Mulan-94 commented on #55
Not directly, there are not

[2020-03-27 11:37] JSKenyon commented on #55
@Mulan-94 Could you possibly upload/email me the file produced by:
[code]

[2020-03-27 11:59] JSKenyon opened #56 "ragavi-gains Incompatible with bokeh==2.0.0"
I noticed this while trying to help debug ragavi. With bokeh==2.0.0 I get:

[code]

Seems to work with bokeh==1.4.0.

[2020-03-30 07:56] JSKenyon commented on #55
![Screenshot from 2020-03-30 09-44-26](https://user-images.githubusercontent.com/6582745/77887625-371dfa00-726b-11ea-8a07-4e0df4bc363f.png)

So I have not investigated in extreme detail, but it seems that the killer is the .values calls which trigger a compute. I haven't verified this - I am just reading it off the above image. There is loads of stuff off to the right which seems to be time spent

[2020-03-30 08:06] JSKenyon commented on #55
![dot](https://user-images.githubusercontent.com/6582745/77889193-c7f5d500-726d-11ea-8e9a-b5e489687f8c.png)

This plot is even more illuminating, though reading it is a little challenging. Follow the brightly coloured arrows around and you can see where time is spent. Seems like the .values calls are definitely partially to blame. These is some other weird cyclical stuff happening but we should pr

[2020-03-30 08:26] Mulan-94 commented on #55
sorry @JSKenyon,  what are the percentages showing? I see there's two of them in the last plot

[2020-03-30 08:32] JSKenyon commented on #55
The first is the cumulative time (so time spent in the function and any sub-functions). The bracketed percentage is the time spent in that specific function. So if you look at the pale green block for get_ms (one of the two on the bottom right) you can see that it takes a cumulative time of 66% but only 0.06% is actually spent in the get_ms function. If you look at the percentages next to the arro

[2020-03-30 11:04] JSKenyon commented on #56
Workaround is to just downgrade to bokeh==1.4.0. I would suggest adding it to the setup.py.

[2020-04-03 10:41] Mulan-94 commented on #56
This is now fixed, I removed the dependence `datashader` section that was causing this error. In the process, I also realised that bokeh v2.0.1 causes `ragavi-gains` to crash. I have thus renamed the issue. And frozen bokeh at v1.4.0 until I find a solution :)

[2020-04-04 21:38] IanHeywood opened #58 "ragavi-vis memory error"
My command was:

[code]

Here is the error:

[code]

Any suggestions? Would a smaller chunk size help?

Thanks.

[2020-04-04 22:55] IanHeywood commented on #58
The answer is no. 45 MB is a big ask!

[code]

[2020-04-05 09:01] Mulan-94 commented on #58
Hi @IanHeywood, sorry I'm just seeing this. I've never encountered this error before and have no idea how to reproduce it. Maybe how big is this dataset?

[2020-04-05 10:25] IanHeywood commented on #58
Thanks Lexy.

The MS is 367GB (a standard ~8 hour MeerKAT track, minus calibrator scans and averaged to 1,024 channels), although only about a third of that is the DATA column.

I tried without iteration and it died in more mysterious circumstances.

[code]

I'm working on an IDIA node, so probably don't have permission for config changes, although we can ask for them if they're well motivated.

[2020-04-05 12:14] Mulan-94 commented on #58
@sjperkins @JSKenyon Please help. Have you encountered this error before with `dask`?

[2020-04-05 15:07] IanHeywood commented on #58
shadeMS fails in the same way:

[code]

[2020-04-05 16:28] JSKenyon commented on #58
This usually happens when an array is simply too large to be allocated. That can be because of contested resources/arrays genuinely being enormous. The error with the smaller chunks is more confusing.

[2020-04-05 16:30] JSKenyon commented on #58
Can you watch htop carefully as this runs @IanHeywood? I wouldn't be surprised if the problem stems from some other piece of code/dask misbehaving.

[2020-04-06 08:01] sjperkins commented on #58
@IanHeywood Calling **.values** on the xarray DataArray reifies the underlying dask array and produces a numpy array.

[code]

You probably want to change the above line to

[code]

[2020-04-06 08:59] sjperkins commented on #58
@Mulan-94 This line seems to be the issue, the dataframe is getting computed (reified) and the entire result placed in memory.

[code]

I am not very familiar with datashader and it's use of (dask?) dataframes myself. Is there not some way to avoid computing the dataframe?

Just to briefly recap the dask paradigm. One (https://docs.dask.org/en/latest/user-interfaces.html#lazy-vs-immediate) -- the

[2020-04-06 09:13] IanHeywood commented on #58
Thanks @sjperkins. A re-write of shadeMS that uses dask properly has been on my to-do list since your tutorial in Cape Town some months ago, it just hasn't floated to the top of it yet. The two open issues over there are both related to this.

https://github.com/IanHeywood/shadeMS/issues/

[2020-05-10 10:53] o-smirnov opened #62 "ratavi-vis correlation selector not working seemingly"
Same data rendered with ragavi-vis and shadems. Corr XX supposedly:

![image](https://user-images.githubusercontent.com/6470079/81497047-36da3b00-92bc-11ea-95c6-6083912a395f.png)

That cloud around Y=0 in the ragavi plot should not be there, which makes me suspect corrs XY/YX (which **are** near 0) are also being plotted. Commands were:

[code]

[2020-05-10 11:14] Mulan-94 commented on #62
On it.

[2020-05-10 18:53] o-smirnov opened #64 "ragavi-gains (intermittently) hangs on bandpass plot with dask-ms==0.2.4"
Seems to work fine with 0.2.3!

This will hang it reliably:

[code]

Table attached.

[b0.zip](https://github.com/ratt-ru/ragavi/files/4606571/b0.zip)

[2020-05-10 18:56] o-smirnov opened #65 "ragavi-vis intermittently hangs with dask-ms==0.2.4"
Flagging it up for now, to be debugged later. Kern-dev will become kern-6 soon enough, and then we have a real problem! Possibly related to #64, but who knows really...

[2020-05-10 18:58] o-smirnov commented on #65
P.S. The obvious suspects are the new casacore-dev/python-casacore versions in kern-dev. Going back to kern-5 and a pip install of python-casacore==3.3.0 eliminates the hang.

[2020-05-10 20:35] o-smirnov commented on #65
OK, nevermind, I got it to hang with kern-5 as well. The new symptom is a 0% progress bar that prints itself endlessly.

Going back to dask-ms==0.2.3 seems to have solved the problem. So definitely looks related to #64, and definitely need @sjperkins's eye.

[2020-05-11 07:59] sjperkins commented on #64
@o-smirnov @Mulan-94 https://github.com/ska-sa/dask-ms/pull/113 fixes this.

I'd like to spend time on a more comprehensive solution, but given that you're trying to release CARAcal, would a quick merge and release be satisfactory?

[2020-05-11 08:37] Mulan-94 commented on #64
Sorry @sjperkins I missed your comment on that issue last week. I will test the branch out today

[2020-05-11 08:39] o-smirnov commented on #64
Thanks! No, we can test an image with the branch for now, can even release
with it if push comes to shove. But let us test first.

Cheers,
Oleg

---
Sent from my phone. Quality of spelling inversely proportional to finger
size.

On Mon, 11 May 2020, 09:59 Simon Perkins, <notifications@github.com> wrote:

[2020-05-11 08:41] sjperkins commented on #64
I'm testing with it on my side and it seems to run through. Thanks for the table and the test case, they're good reproducers.

[2020-05-11 09:18] o-smirnov commented on #64
So did I. There's a lesson for us in here somewhere @Mulan-94...

Let me stress test this branch.

[2020-05-11 10:25] Mulan-94 commented on #64
@sjperkins this seems to do it for `ragavi-gains`. I've run it like 50 times with @o-smirnov 's problematic table, as well as other tables, and it goes through fine. Thank you.

[2020-05-15 08:33] Mulan-94 opened #66 "More improvements"
**ragavi-gains**
- [ ] Determine table type from table's metadata
- [ ] Support for other types of tables e.g LoSoTo
- [ ] Feature to be able to select reference antenna

**ragavi-vis**
- [ ] Rolling mean / sigma / median
- [ ] Implement https://github.com/ratt-ru/shadeMS/issues/55 for min/max

[2020-05-18 11:28] sjperkins commented on #65
Does dask-ms 0.2.5 resolve this issue?

[2020-05-18 11:36] o-smirnov commented on #65
Yes!

[2020-05-18 11:36] #65 closed

[2020-06-08 15:00] #64 closed

[2020-06-08 15:17] o-smirnov opened #68 "ragavi-gains: selection of correlation 1 also shows all antennas"
I start with a MeerKAT bandpass plot. This is showing antennas m000-m016 (the "blue" end of the colormap) and corr 0 in its initial state:

![image](https://user-images.githubusercontent.com/6470079/84046160-031d2e80-a9aa-11ea-9fa9-5ba8ee01020b.png)

Then I click on corr 1. This seems also to display all antennas as a byproduct (the red ones are high-numbered):

![image](https://user-images.github

[2020-06-08 19:49] o-smirnov opened #69 "ragavi-gains: htmlname seemingly ignored"
Invoked like this:
[code]

Note that this was not the filename I was looking for...

[2020-06-08 19:51] o-smirnov opened #70 "ragavi-gains: use f-format for phase"
In plots like these, degrees is shown in exponential format, i.e. 5e+1.

![image](https://user-images.githubusercontent.com/6470079/84046160-031d2e80-a9aa-11ea-9fa9-5ba8ee01020b.png)

Since phase is only ever in the range -180 to 180, it would be more humane to use %f format.

[2020-06-13 10:00] o-smirnov opened #71 "ragavi-gains: legend panel cut off"
It looks to me like the legend display is cropped on the right side, in line with the amplitude panel:

![image](https://user-images.githubusercontent.com/6470079/84565945-62de5580-ad6d-11ea-992d-c1841e3a8863.png)

In particular, the selectors for antennas m011-m015 have gone missing.

[2020-06-18 17:57] Mulan-94 commented on #71
Ok, this should be fixed in the dev now. Please try have a go at it and let me know

[2020-06-18 18:02] Mulan-94 commented on #68
Oh yes, I am aware of this. The reason is that there are multiple plots ( per field, spw and correlation ) associated to every single antenna's legend. There is a note on it [in the docs here](https://ragavi.readthedocs.io/en/latest/gains.html#note) and I'm yet to iron out this.

[2020-06-19 08:13] #16 closed

[2020-06-19 08:14] #23 closed

[2020-06-19 08:14] #25 closed

[2020-06-19 08:15] #39 closed

[2020-06-19 08:15] #27 closed

[2020-06-19 08:15] #49 closed

[2020-06-19 08:16] #56 closed

[2020-06-20 13:03] #69 closed

[2020-06-20 13:03] #70 closed

[2020-07-26 17:34] o-smirnov opened #75 "ragavi-gains: inconsistent antenna selection behaviour"
I enabled legends, deselected all antennas, then enabled the first group. But I see all antennas plotted:

![image](https://user-images.githubusercontent.com/6470079/88485550-e0a19d80-cf76-11ea-85b4-075e92432322.png)

[2020-07-27 09:43] Mulan-94 commented on #75
Sorry @o-smirnov , which version of `ragavi` ?

[2020-07-27 10:45] o-smirnov commented on #75
I have no idea. Caracal pipeline so i.e. Stimela release version.

May I suggest a discreet little "ragavi vX.Y.Z" label in the top-right corner? Then we never need to ask this question again. :)

[2020-09-12 03:49] Mulan-94 opened #77 "Add flagged data percentages to hovertool tips"
- possibly per scan and antenna
- Put overall flagged data % in stats box?

[2020-09-14 20:21] Mulan-94 opened #78 "Investigating OS Error during HTML file write"
This investigation led to  [this bokeh issue:](https://github.com/bokeh/bokeh/pull/7539/files/bed658ce8efd4793ded7d7ccf6b39513a81ffbab#diff-22941b79bd893a19141807296c25c0ce)

and to the [package tempfile:](https://docs.python.org/3/library/tempfile.html#tempfile.NamedTemporaryFile)

This [stack abuse post](https://stackabuse.com/the-python-tempfile-module/#:~:text=The%20tempfile.,create%20a%20file

[2020-09-14 20:32] o-smirnov commented on #78
Yep, I think you've found the culprit! Cross-linking to https://github.com/caracal-pipeline/caracal/issues/1200

[2020-09-14 20:34] KshitijT commented on #78
Yay !
So would it be a separate directory than the one set by , e.g.
`export SINGULARITY_TMPDIR=/idia/projects/fornax/.singularity_tmp` ?

[2020-09-14 20:43] o-smirnov commented on #78
Yeah, ``SINGULARITY_TMPDIR`` would be respected by singularity itself, but not necessarily by the container inhabitants. I've added an issue on Stimela which would be a general defensive solution. In the meantime, ragavi should contain its own fix of course.

[2020-09-15 22:48] IanHeywood commented on #69
I just came along to report this issue, having moved from using the version in:

[code]

to:

[code]

Perhaps this fix hasn't made it to the containerised version yet?

[2020-09-15 22:50] KshitijT commented on #69
Also, those images haven't been updated yet.

[2020-09-15 22:50] Mulan-94 commented on #69
Hi @IanHeywood, please try version `1.7.2`

[2020-09-16 10:48] IanHeywood commented on #69
Thanks both. It's mostly being used for scripted data reduction on IDIA / CHPC so I'll just wait until the fix makes its way to the stimela container. Cheers.

[2020-10-13 11:01] o-smirnov opened #80 "ragavi-gains: nothing plotted for Dref tables"
Trying to look at a Dref table produced by Francesca's worker, I just get a blank plot like so:

![image](https://user-images.githubusercontent.com/6470079/95852366-ee83e500-0d53-11eb-94b8-04411fe1cebd.png)

The table is not empty though:

![image](https://user-images.githubusercontent.com/6470079/95852469-183d0c00-0d54-11eb-8ead-dfbecdccfe6b.png)

Maybe there's confusion between this one and Df?

[2020-10-15 09:21] Mulan-94 commented on #80
Sorry about this, let me have a look. Do you possibly have this table?

[2020-10-15 10:18] o-smirnov commented on #80
See e.g. ``/net/simon/home/oms/projects/polcal/output-fleak/caltables/fl-MS-2pcal.Dref``

[2020-10-15 10:23] Mulan-94 commented on #80
Here's the output with the x-axis as time:
![image](https://user-images.githubusercontent.com/12611059/96111184-279d9000-0ee1-11eb-9d39-0d170d05224d.png)

Shall I change the default x-axis for Dref tables to time then?

[2020-10-15 10:25] o-smirnov commented on #80
Yes, perfect!

[2020-10-20 12:55] #80 closed

[2021-03-03 18:35] viralp opened #83 "ImportError: cannot import name 'chan_metadata'"
Hi. Getting the following error

03.03.2021@20:20:59 - ragavi               - ERROR      - Oops ... uncaught exception occurred!
03.03.2021@20:20:59 - ragavi               - ERROR      - Traceback (most recent call last):
03.03.2021@20:20:59 - ragavi               - ERROR      -    File "/home/vparekh/venv/bin/ragavi-vis", line 20, in <module>
03.03.2021@20:20:59 - ragavi               - ERROR

[2021-03-04 02:55] Mulan-94 commented on #83
Hi @viralp , please could you provide the command you used so that I can try to replicate this?
In the meantime, I'm assuming this is from `caracal`, you could switch the standard plotter to: `shadems`

[2022-05-30 12:37] o-smirnov opened #84 "add QuartiCal gain support to ragavi"
@Mulan-94 it is time. @JSKenyon has got the https://github.com/ratt-ru/QuartiCal gain format in a stable state, could we please incorporate it into ragavi? Only a ``dask-ms`` dependency is required, you don't even need to depend on QuartiCal per se.

[2022-05-30 13:10] JSKenyon commented on #84
I am also happy to add anything you feel you need @Mulan-94! I think you made a start on this a while ago. :-)

[2022-07-08 15:58] rubyvanrooyen opened #85 "Adding gain solution plotting for BPOLY caltables"
New functionality has to be added to Ragavi to enable the ability to plot the gain solutions in CARACal for bandpass calibration using the polynomial fit solution in the BPOLY caltable structure

[2022-07-08 16:01] rubyvanrooyen commented on #85
Example code that mimics CASA plotms using python and reading table values
[code]

[2022-07-08 16:02] rubyvanrooyen commented on #85
Code used as reference:
http://www.eso.org/~jagonzal/telcal/antenna_position/online-antenna-position/analysis_scripts/plotbandpass3.py

[2022-10-05 10:31] bennahugo opened #86 "breakage from upstream averaging changes in africanus"
for the moment this should probably be pinned to africanus codex-africanus==0.2.10 due to api changes - reported by @sharmilagoedhart
[code]

[2022-10-05 10:58] Athanaseus opened #87 "Add github actions for deployment"
- Replace **Travis**
- Look into setting up **Jenkins** for unit and integration testing

[2022-10-05 15:53] bennahugo opened #88 "averaging on visibility plots does not seem to work"
raised by @sharmilagoedhart
this is after downgrading as discussed in #86
[code]